
<div class="container mt-3">
    <!-- Nav pills -->
    <!-- <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" [routerLink]="['/about',1,'Ravi']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLink="/contact">Contact</a>
      </li>
    </ul> -->


    <nav class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about',1,'Ravi']" 
        [queryParams]="{page:1,search:'shiva'}" fragment="loading"   routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/directive" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/parent" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Parent to Child</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/template" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">TemplateDriven Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reactive" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Reactive Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/formbuilder" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Form Builder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dynamicformbuilder" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Dynamic Form Builder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pipeExample" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/crud" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Crud App</a>
          </li>
        </ul>
      </div>
    </nav>
   
    <!-- Tab panes -->
    <div class="tab-content">
        
     <router-outlet></router-outlet>
     

    </div>
</div>


