<p>example-on-pipe works!</p>


<!-- string Pipe example -->
{{Fname|uppercase}}<br>
{{Lname|lowercase}}<br>
{{MiddleName|titlecase}}

<br>
Price Pipe example<br>
{{Price|currency}}<br>

{{Price|currency:'INR':'symbol-narrow':'5.2-2'}}<br>


{{currenDate}}<br>
{{currenDate|date}}
{{currenDate|date:'fullDate'}}<br>
{{currenDate|date:'short'}}<br>
{{currenDate|date:'longDate'}}<br>
{{currenDate|date:'yyyy-MM-dd'}}<br>
{{currenDate|date:'shortTime'}}<br>


{{fruits|slice:1:3}}<br>
{{MiddleName|slice:1:5}}<br>
{{temp|percent}}
{{Fname|changeCase}}